n8n_workflows/03_batch_chapter_generator.json
{
    "name": "03 - Batch Chapter Generator (All Chapters)",
    "nodes": [
        {
            "parameters": {},
            "id": "manual-trigger",
            "name": "When clicking 'Test workflow'",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                240,
                400
            ]
        },
        {
            "parameters": {
                "operation": "read",
                "fileName": "={{ $json.book_title.replace(/[^a-z0-9]/gi, '_') }}/outline.md"
            },
            "id": "read-outline",
            "name": "Read Outline File",
            "type": "n8n-nodes-base.readFile",
            "typeVersion": 1,
            "position": [
                680,
                400
            ],
            "notes": "Reads the outline generated by workflow 01"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "book-title",
                            "name": "book_title",
                            "value": "The_Moscow_Protocol",
                            "type": "string"
                        },
                        {
                            "id": "genre",
                            "name": "genre",
                            "value": "Spy Thriller",
                            "type": "string"
                        },
                        {
                            "id": "start-chapter",
                            "name": "start_chapter",
                            "value": "1",
                            "type": "number"
                        },
                        {
                            "id": "end-chapter",
                            "name": "end_chapter",
                            "value": "20",
                            "type": "number"
                        },
                        {
                            "id": "language",
                            "name": "language",
                            "value": "English",
                            "type": "string"
                        }
                    ]
                }
            },
            "id": "batch-input",
            "name": "Batch Input Parameters",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3,
            "position": [
                460,
                400
            ]
        },
        {
            "parameters": {
                "mode": "code",
                "jsCode": "// Parse outline and create chapter list\nconst outline = $input.item.json.data.toString();\nconst bookTitle = $('Batch Input Parameters').item.json.book_title;\nconst genre = $('Batch Input Parameters').item.json.genre;\nconst language = $('Batch Input Parameters').item.json.language;\nconst startChapter = $('Batch Input Parameters').item.json.start_chapter;\nconst endChapter = $('Batch Input Parameters').item.json.end_chapter;\n\n// Extract chapters from outline\nconst chapterRegex = /Chapter (\\d+):\\s*(.+?)\\nSummary:\\s*(.+?)(?=\\n\\nChapter|$)/gs;\nconst chapters = [];\nlet match;\n\nwhile ((match = chapterRegex.exec(outline)) !== null) {\n  const chapterNum = parseInt(match[1]);\n  if (chapterNum >= startChapter && chapterNum <= endChapter) {\n    chapters.push({\n      json: {\n        book_title: bookTitle,\n        genre: genre,\n        language: language,\n        chapter_number: chapterNum,\n        chapter_title: match[2].trim(),\n        chapter_summary: match[3].trim()\n      }\n    });\n  }\n}\n\nreturn chapters;"
            },
            "id": "parse-outline",
            "name": "Parse Outline into Chapters",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                400
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://openrouter.ai/api/v1/chat/completions",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "HTTP-Referer",
                            "value": "http://localhost:5678"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ {\n  \"model\": \"anthropic/claude-3.5-sonnet\",\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": \"You are a professional \" + $json.genre + \" novelist. Write Chapter \" + $json.chapter_number + \": \" + $json.chapter_title + \" for the novel '\" + $json.book_title + \"'.\\n\\nChapter Summary:\\n\" + $json.chapter_summary + \"\\n\\nWRITING REQUIREMENTS:\\n- Write in \" + $json.language + \"\\n- Target: 3000-4000 words\\n- Vivid, cinematic descriptions\\n- Show don't tell\\n- Tension and pacing for \" + $json.genre + \"\\n- Sensory details\\n- End with hook/cliffhanger\\n- Professional \" + $json.genre + \" style\\n\\nWrite the complete chapter now.\"\n  }],\n  \"max_tokens\": 12000,\n  \"temperature\": 0.7\n} }}"
            },
            "id": "generate-chapter-loop",
            "name": "Generate Chapter (Loop)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1120,
                400
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "extract-content",
                            "name": "chapter_content",
                            "value": "={{ $json.choices[0].message.content }}",
                            "type": "string"
                        },
                        {
                            "id": "chapter-num",
                            "name": "chapter_number",
                            "value": "={{ $('Parse Outline into Chapters').item.json.chapter_number }}",
                            "type": "number"
                        },
                        {
                            "id": "chapter-title",
                            "name": "chapter_title",
                            "value": "={{ $('Parse Outline into Chapters').item.json.chapter_title }}",
                            "type": "string"
                        },
                        {
                            "id": "book-title",
                            "name": "book_title",
                            "value": "={{ $('Parse Outline into Chapters').item.json.book_title }}",
                            "type": "string"
                        }
                    ]
                }
            },
            "id": "extract-chapter-loop",
            "name": "Extract Chapter Data",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3,
            "position": [
                1340,
                400
            ]
        },
        {
            "parameters": {
                "operation": "write",
                "fileName": "={{ $json.book_title }}/chapter_{{ $json.chapter_number }}.md",
                "fileContent": "={{ \"# Chapter \" + $json.chapter_number + \": \" + $json.chapter_title + \"\\n\\n\" + $json.chapter_content }}",
                "options": {
                    "encoding": "utf8"
                }
            },
            "id": "save-chapter-loop",
            "name": "Save Chapter",
            "type": "n8n-nodes-base.writeFile",
            "typeVersion": 1,
            "position": [
                1560,
                400
            ]
        },
        {
            "parameters": {
                "amount": 5000,
                "unit": "milliseconds"
            },
            "id": "wait-between-chapters",
            "name": "Wait (Rate Limit)",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                1780,
                400
            ],
            "webhookId": "rate-limit-wait"
        }
    ],
    "connections": {
        "When clicking 'Test workflow'": {
            "main": [
                [
                    {
                        "node": "Batch Input Parameters",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Batch Input Parameters": {
            "main": [
                [
                    {
                        "node": "Read Outline File",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Outline File": {
            "main": [
                [
                    {
                        "node": "Parse Outline into Chapters",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Outline into Chapters": {
            "main": [
                [
                    {
                        "node": "Generate Chapter (Loop)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Chapter (Loop)": {
            "main": [
                [
                    {
                        "node": "Extract Chapter Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Chapter Data": {
            "main": [
                [
                    {
                        "node": "Save Chapter",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Chapter": {
            "main": [
                [
                    {
                        "node": "Wait (Rate Limit)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}